extends layout/app

block head
    title landing

block page 
    include tamplates/header
    include tamplates/hero
    include tamplates/aboutus
    include tamplates/aprouch
    include tamplates/work
    include tamplates/form-section
    include tamplates/footer
    