extends layout/app

block head
    title landing

block page 
    include chunk/header
    include chunk/hero
    include chunk/aboutus
    include chunk/aprouch
    include chunk/work
    include chunk/form-section
    include chunk/footer
    